# Build artifacts
*.obj
*.o
*.lo
*.loT
*.gch
*.pch
*.exe
*.out
*.app
*.i
*.ii
*.dll
*.lib
*.a
*.la
*.so
*.dylib

.vs/

# Visual Studio files
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
*.ncb
*.log
*.tlog
*.ipch
*.aps
*.ilk
*.pdb
*.idb

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/

# Qt-related
moc_*.cpp
qrc_*.cpp
ui_*.h

# Code::Blocks
*.depend
*.layout

# CLion / JetBrains IDEs
.idea/
cmake-build-*/

# Backup and temp files
*~
*.bak
*.tmp
*.swp
*.DS_Store
Thumbs.db

# Output folders
bin/
obj/
debug/
release/
x64/
x86/
